In [2]:
import psycopg2
import pandas as pd
import folium
from geopy.distance import geodesic
from sklearn.cluster import DBSCAN
from scipy.spatial.distance import cdist
import numpy as np
from datetime import datetime, timedelta
from collections import Counter
from sqlalchemy import create_engine
from sklearn.metrics import pairwise_distances_argmin_min

In [ ]:
USED_BUS_LINES = ['100', '108', '232', '2336', '2803', '292', '298', '3', '309', '315', '324', '328', '343', '355', '371', '388', 
                  '397', '399', '415', '422', '457', '483', '497', '550', '553', '554', '557', '565', '606', '624', '629', '634', 
                  '638', '639', '665', '756', '759', '774', '779', '803', '838', '852', '864', '867', '878', '905', '917', '918']

In [4]:
CHOSEN_DATES = ['20240426', '20240427', '20240429']

CHOSEN_TEST_LINE = '3'

In [ ]:
database_uri = 'postgresql://postgres:senha@localhost:5432/postgres'
db_engine_alchemy = create_engine(database_uri)

In [7]:
def database_query(linha, dates: list, engine) -> pd.DataFrame:
    queries = []
    for date in dates:
        query = (
            f"SELECT ordem, dg.latitude, dg.longitude, datahora_ts, velocidade "
            f"FROM gps dg "
            f"LEFT JOIN garage cg "
            f"ON ST_DWithin(cg.geom, dg.geom, 200 / 111320.0) "
            f"WHERE cg.geom IS NULL "
            f"AND dg.linha = '{linha}' "
            f"AND dg.datahora_ts::date = DATE '{date}' "
            f"AND EXTRACT (HOUR FROM dg.datahora_ts) BETWEEN 9 AND 18"
        )
        queries.append(query)
    
    union_all_query = ' UNION ALL '.join(queries)
    df = pd.read_sql(union_all_query, con=engine)
    return df

In [8]:
df = database_query(CHOSEN_TEST_LINE, CHOSEN_DATES , db_engine_alchemy)
df

       ordem  latitude  longitude         datahora_ts  velocidade
0     D53514 -22.90228  -43.55031 2024-04-26 09:00:20          24
1     D53514 -22.90046  -43.55028 2024-04-26 09:00:51          37
2     D53515 -22.88349  -43.49175 2024-04-26 09:02:45           0
3     D53515 -22.88348  -43.49168 2024-04-26 09:03:15           9
4     D53515 -22.88346  -43.49065 2024-04-26 09:03:46           0
...      ...       ...        ...                 ...         ...
3730  D53632 -22.91011  -43.56530 2024-04-29 18:58:23           0
3731  D53586 -22.88155  -43.49958 2024-04-29 18:58:43          33
3732  D53632 -22.91010  -43.56530 2024-04-29 18:58:54           0
3733  D53632 -22.91010  -43.56529 2024-04-29 18:59:25           0
3734  D53632 -22.91010  -43.56517 2024-04-29 18:59:56           0

[3735 rows x 5 columns]

In [ ]:
def get_garage_points(engine):
    query = f'SELECT latitude, longitude FROM garage' 
    df = pd.read_sql(query, con=engine)
    return list(zip(df['latitude'], df['longitude']))

In [10]:
garage_points = get_garage_points(db_engine_alchemy)

In [11]:
df.sort_values(by=['ordem', 'datahora_ts'], inplace=True)

In [ ]:
def filter_df(df: pd.DataFrame):

    df = df[df['velocidade'] == 0]

    ordem_counts = df['ordem'].value_counts()

    filtered_df = df[df['ordem'] == ordem_counts.index[14]].reset_index()

    filtered_df = filtered_df[filtered_df['velocidade'] == 0]
    
    filtered_df = filtered_df.sort_values(by=['ordem', 'datahora_ts']).reset_index()
    filtered_df['datahora_ts'] = pd.to_datetime(filtered_df['datahora_ts'])

    # Calcula a distancia
    def calculate_distance(row1, row2):
        point1 = (row1['latitude'], row1['longitude'])
        point2 = (row2['latitude'], row2['longitude'])
        return geodesic(point1, point2).meters

    filtered_df['is_stop'] = False


    window_size = timedelta(minutes=10)
    i = 0
    while i < len(filtered_df):
        end_time = filtered_df.loc[i, 'datahora_ts'] + window_size
        window = filtered_df[(filtered_df['datahora_ts'] >= filtered_df.loc[i, 'datahora_ts']) & (filtered_df['datahora_ts'] <= end_time)]
        initial_point = window.iloc[0]
        
        if all(calculate_distance(initial_point, row) <= 10 for idx, row in window.iterrows()):
            filtered_df.loc[window.index, 'is_stop'] = True
            i += len(window.index)
        else:
            i += 1

    return filtered_df
filtered_df = filter_df(df)
print(len((filtered_df[filtered_df['is_stop']]==False).index))
filtered_df

7

,level_0,index,ordem,latitude,longitude,datahora_ts,velocidade,is_stop
0,0,2035,D53625,-22.88351,-43.49067,2024-04-29 09:04:28,0,False
1,1,2039,D53625,-22.88086,-43.50895,2024-04-29 09:08:05,0,True
2,2,2045,D53625,-22.90701,-43.56827,2024-04-29 09:24:33,0,False
3,3,2046,D53625,-22.90701,-43.56826,2024-04-29 09:25:04,0,False
4,4,2054,D53625,-22.91056,-43.58365,2024-04-29 09:29:09,0,False
5,5,2058,D53625,-22.91372,-43.59711,2024-04-29 09:31:13,0,False
6,6,2061,D53625,-22.91410,-43.60109,2024-04-29 09:32:46,0,True
7,7,2062,D53625,-22.91410,-43.60110,2024-04-29 09:33:17,0,True
8,8,2063,D53625,-22.91410,-43.60109,2024-04-29 09:33:48,0,True
9,9,2064,D53625,-22.91410,-43.60109,2024-04-29 09:34:18,0,True
10,10,2065,D53625,-22.91410,-43.60109,2024-04-29 09:34:49,0,True
11,11,2090,D53625,-22.93567,-43.66687,2024-04-29 09:48:39,0,True

In [ ]:
def filter_df_v2(df: pd.DataFrame):
    
    df.loc[:,'datahora_ts'] = pd.to_datetime(df['datahora_ts'])
    df = df.sort_values(by=['ordem', 'datahora_ts']).reset_index()

    # Calcula a distancia
    def calculate_distance(row1, row2):
        point1 = (row1['latitude'], row1['longitude'])
        point2 = (row2['latitude'], row2['longitude'])
        return geodesic(point1, point2).meters

    df['is_stop'] = False
    
    for ordem in df['ordem'].unique():
        window_size = timedelta(minutes=5)
        df_slice = df[df['ordem']==ordem]
        i = df_slice.index[0]
        while i < df_slice.index[-1]:
            end_time = df_slice.loc[i, 'datahora_ts'] + window_size
            window = df_slice[(df_slice['datahora_ts'] >= df_slice.loc[i, 'datahora_ts']) & (df_slice['datahora_ts'] <= end_time)]
            initial_point = window.iloc[0]
            final_point = window.iloc[-1]
            
            if calculate_distance(initial_point, final_point) <= 10 and final_point['datahora_ts'] - initial_point['datahora_ts'] >= window_size - timedelta(minutes=2):
                df.loc[window.index, 'is_stop'] = True
                i += len(window.index)
            else:
                i += 1

    final_df = df[df['is_stop']==True]

    return final_df
filtered_df = filter_df_v2(df)
filtered_df

,index,ordem,latitude,longitude,datahora_ts,velocidade,is_stop
2935,1015,D53748,-22.88030,-43.50119,2024-04-27 10:06:35,0,True
2936,1017,D53748,-22.88031,-43.50119,2024-04-27 10:07:06,0,True
2937,1019,D53748,-22.88031,-43.50119,2024-04-27 10:07:36,0,True
2938,1021,D53748,-22.88031,-43.50119,2024-04-27 10:08:07,0,True
2939,1023,D53748,-22.88031,-43.50119,2024-04-27 10:08:38,0,True
...,...,...,...,...,...,...,...
3560,2504,D53928,-22.88521,-43.62017,2024-04-29 13:20:12,0,True
3561,2505,D53928,-22.88521,-43.62017,2024-04-29 13:20:42,0,True
3562,2508,D53928,-22.88520,-43.62017,2024-04-29 13:21:13,0,True
3563,2537,D53928,-22.88520,-43.62017,2024-04-29 13:21:44,0,True
3564,2538,D53928,-22.88520,-43.62017,2024-04-29 13:22:15,0,True

In [ ]:
def plot_trajectories(df: pd.DataFrame):
    df = df.sort_values(by=['ordem','datahora_ts']).reset_index(drop=True)

    # Cria mapa com centro na localizacao media
    map_center = [df['latitude'].mean(), df['longitude'].mean()]
    m = folium.Map(location=map_center, zoom_start=15)
    choosen_order = df['ordem'].unique()[13]

    print(choosen_order)

    for i, row in df.iterrows():
        point = [row['latitude'], row['longitude']]
        popup_text = f"Velocidade: {row['velocidade']} km/h<br>Hora: {row['datahora_ts'].strftime('%H:%M:%S')}<br>Coords:{point}"
        
        if row['velocidade'] > 0:
            color = 'blue'
        else:
            color = 'red'
        
        folium.CircleMarker(location=point, radius=5, color=color, fill=True, fill_color=color, popup=popup_text).add_to(m)
        
    m.save(f'maps/trajectory_{CHOSEN_TEST_LINE}.html')

In [ ]:
def calculate_final_stops_v2(df: pd.DataFrame, radiusInMeters: int = 100):
    epsilon = radiusInMeters / 6371000 # raio da terra em metros

    # DBSCAN clustering
    coords = df[['latitude', 'longitude']].to_numpy()
    db = DBSCAN(eps=epsilon, min_samples=10, metric='haversine').fit(np.radians(coords))

    df['cluster'] = db.labels_

    # Numero de pontos em cada cluster
    cluster_counts = Counter(df['cluster'])

    top_clusters = cluster_counts.most_common(3) 

    print("Top 3 most selected areas:")
    i = 1

    i = 1
    centroids_result = []
    for cluster_id, count in top_clusters:
        if cluster_id != -1:
            cluster_points = df[df['cluster'] == cluster_id]
            
            dist_matrix = cdist(cluster_points[['latitude', 'longitude']], cluster_points[['latitude', 'longitude']])
            total_distances = np.sum(dist_matrix, axis=1)
            medoid_index = np.argmin(total_distances)
            medoid_point = cluster_points.iloc[medoid_index]
            medoid_lat = medoid_point['latitude']
            medoid_lon = medoid_point['longitude']
            print(f"Cluster {cluster_id}: Medoid ({medoid_lat}, {medoid_lon}), Count: {count}")
            centroids_result.append((i, (medoid_lat, medoid_lon), count))
            i += 1
    return centroids_result

In [17]:
bus_stops_per_line = {}
bus_stops_per_line[CHOSEN_TEST_LINE] = calculate_final_stops_v2(filtered_df)

Top 3 most selected areas:
Cluster 1: Medoid (-22.89736, -43.48696), Count: 60
Cluster 2: Medoid (-22.86142, -43.54884), Count: 20
Cluster 0: Medoid (-22.9009, -43.55199), Count: 10

In [ ]:
bus_stops_per_line = {}
STOP_RADIUS = 30
for linha in USED_BUS_LINES:
    print(f'[{linha}]Querying database...')
    df = database_query(linha, CHOSEN_DATES , db_engine_alchemy)
    print(f'[{linha}]Raw dataframe size: {len(df.index)}')

    print(f'[{linha}]Filtering dataframe...')
    filtered_df = filter_df_v2(df)

    if (len(filtered_df.index)>80000):
        filtered_df = filtered_df.sample(n=80000)
    print(f'[{linha}]Filtered dataframe size: {len(filtered_df.index)}')
    print(f'[{linha}]Clustering points...')
    bus_stops_per_line[linha] = calculate_final_stops_v2(filtered_df, radiusInMeters=STOP_RADIUS)
    print('-'*50)

[100]Querying database...
[100]Raw dataframe size: 117366
[100]Filtering dataframe...
[100]Filtered dataframe size: 239
[100]Clustering points...
Top 3 most selected areas:
Cluster 12: Medoid (-22.98314, -43.19232), Count: 34
Cluster 9: Medoid (-22.9497, -43.17788), Count: 21
Cluster 5: Medoid (-22.96391, -43.17844), Count: 20
--------------------------------------------------
[108]Querying database...
[108]Raw dataframe size: 37667
[108]Filtering dataframe...
[108]Filtered dataframe size: 1133
[108]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.98162, -43.21336), Count: 1000
Cluster 4: Medoid (-22.91424, -43.19639), Count: 43
Cluster 2: Medoid (-22.98496, -43.21293), Count: 30
--------------------------------------------------
[232]Querying database...
[232]Raw dataframe size: 74959
[232]Filtering dataframe...
[232]Filtered dataframe size: 235
[232]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.90792, -43.27829), Count: 156
Cluster 4: Medoid (-22.90522, -43.29103), Count: 32
Cluster 2: Medoid (-22.91145, -43.2856), Count: 12
--------------------------------------------------
[2336]Querying database...
[2336]Raw dataframe size: 54963
[2336]Filtering dataframe...
[2336]Filtered dataframe size: 10980
[2336]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.90578, -43.17365), Count: 6136
Cluster 3: Medoid (-22.89186, -43.21603), Count: 3947
Cluster 8: Medoid (-22.89488, -43.21541), Count: 513
--------------------------------------------------
[2803]Querying database...
[2803]Raw dataframe size: 53782
[2803]Filtering dataframe...
[2803]Filtered dataframe size: 148
[2803]Clustering points...
Top 3 most selected areas:
Cluster 5: Medoid (-22.9761, -43.58971), Count: 44
Cluster 3: Medoid (-22.9696, -43.5886), Count: 20
Cluster 2: Medoid (-22.89563, -43.56177), Count: 12
--------------------------------------------------
[292]Querying database...
[292]Raw dataframe size: 42133
[292]Filtering dataframe...
[292]Filtered dataframe size: 214
[292]Clustering points...
Top 3 most selected areas:
Cluster 6: Medoid (-22.8306, -43.32671), Count: 70
Cluster 0: Medoid (-22.88253, -43.21815), Count: 50
Cluster 5: Medoid (-22.82376, -43.30951), Count: 20
--------------------------------------------------
[298]Querying database...
[298]Raw dataframe size: 61913
[298]Filtering dataframe...
[298]Filtered dataframe size: 329
[298]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.76297, -43.42916), Count: 147
Cluster 1: Medoid (-22.88728, -43.25027), Count: 135
Cluster 0: Medoid (-22.88101, -43.27406), Count: 10
--------------------------------------------------
[3]Querying database...
[3]Raw dataframe size: 3735
[3]Filtering dataframe...
[3]Filtered dataframe size: 118
[3]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.89736, -43.48696), Count: 60
Cluster 2: Medoid (-22.86142, -43.54884), Count: 20
Cluster 0: Medoid (-22.9009, -43.55199), Count: 10
--------------------------------------------------
[309]Querying database...
[309]Raw dataframe size: 84627
[309]Filtering dataframe...
[309]Filtered dataframe size: 484
[309]Clustering points...
Top 3 most selected areas:
Cluster 4: Medoid (-22.91849, -43.17659), Count: 163
Cluster 1: Medoid (-22.90561, -43.19691), Count: 92
Cluster 3: Medoid (-22.90593, -43.19623), Count: 47
--------------------------------------------------
[315]Querying database...
[315]Raw dataframe size: 73830
[315]Filtering dataframe...
[315]Filtered dataframe size: 851
[315]Clustering points...
Top 3 most selected areas:
Cluster 11: Medoid (-23.00059, -43.41747), Count: 328
Cluster 14: Medoid (-22.97025, -43.36088), Count: 200
Cluster 2: Medoid (-22.90911, -43.3153), Count: 86
--------------------------------------------------
[324]Querying database...
[324]Raw dataframe size: 68157
[324]Filtering dataframe...
[324]Filtered dataframe size: 164
[324]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.90666, -43.19662), Count: 34
Cluster 6: Medoid (-22.90325, -43.18452), Count: 30
--------------------------------------------------
[328]Querying database...
[328]Raw dataframe size: 48333
[328]Filtering dataframe...
[328]Filtered dataframe size: 503
[328]Clustering points...
Top 3 most selected areas:
Cluster 4: Medoid (-22.84827, -43.24519), Count: 326
Cluster 3: Medoid (-22.89962, -43.19026), Count: 89
Cluster 1: Medoid (-22.90395, -43.18487), Count: 20
--------------------------------------------------
[343]Querying database...
[343]Raw dataframe size: 69497
[343]Filtering dataframe...
[343]Filtered dataframe size: 198
[343]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.90913, -43.3152), Count: 55
Cluster 1: Medoid (-22.97642, -43.32557), Count: 44
Cluster 8: Medoid (-22.98885, -43.3232), Count: 22
--------------------------------------------------
[355]Querying database...
[355]Raw dataframe size: 48595
[355]Filtering dataframe...
[355]Filtered dataframe size: 528
[355]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.9033, -43.18503), Count: 407
Cluster 0: Medoid (-22.90351, -43.18556), Count: 51
Cluster 2: Medoid (-22.85216, -43.31184), Count: 31
--------------------------------------------------
[371]Querying database...
[371]Raw dataframe size: 117344
[371]Filtering dataframe...
[371]Filtered dataframe size: 610
[371]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.9084, -43.18937), Count: 474
Cluster 6: Medoid (-22.88445, -43.31717), Count: 40
--------------------------------------------------
[388]Querying database...
[388]Raw dataframe size: 51386
[388]Filtering dataframe...
[388]Filtered dataframe size: 479
[388]Clustering points...
Top 3 most selected areas:
Cluster 10: Medoid (-22.92044, -43.6801), Count: 111
Cluster 6: Medoid (-22.85756, -43.47263), Count: 80
Cluster 0: Medoid (-22.86547, -43.4217), Count: 73
--------------------------------------------------
[397]Querying database...
[397]Raw dataframe size: 44801
[397]Filtering dataframe...
[397]Filtered dataframe size: 325
[397]Clustering points...
Top 3 most selected areas:
Cluster 3: Medoid (-22.82363, -43.33098), Count: 120
Cluster 2: Medoid (-22.82157, -43.3246), Count: 92
Cluster 6: Medoid (-22.86543, -43.42551), Count: 32
--------------------------------------------------
[399]Querying database...
[399]Raw dataframe size: 32119
[399]Filtering dataframe...
[399]Filtered dataframe size: 145
[399]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.81762, -43.30702), Count: 66
Cluster 3: Medoid (-22.7411, -43.45641), Count: 42
Cluster 1: Medoid (-22.81588, -43.39476), Count: 27
--------------------------------------------------
[415]Querying database...
[415]Raw dataframe size: 94106
[415]Filtering dataframe...
[415]Filtered dataframe size: 598
[415]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.98555, -43.22348), Count: 508
Cluster 2: Medoid (-22.941, -43.25138), Count: 31
Cluster 1: Medoid (-22.94005, -43.24926), Count: 11
--------------------------------------------------
[422]Querying database...
[422]Raw dataframe size: 184616
[422]Filtering dataframe...
[422]Filtered dataframe size: 2451
[422]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.93992, -43.19983), Count: 1896
Cluster 2: Medoid (-22.93124, -43.17943), Count: 250
Cluster 0: Medoid (-22.91109, -43.21664), Count: 82
--------------------------------------------------
[457]Querying database...
[457]Raw dataframe size: 103240
[457]Filtering dataframe...
[457]Filtered dataframe size: 117
[457]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.92064, -43.19372), Count: 43
Cluster 0: Medoid (-22.90851, -43.19804), Count: 33
Cluster 5: Medoid (-22.97827, -43.19076), Count: 11
--------------------------------------------------
[483]Querying database...
[483]Raw dataframe size: 75220
[483]Filtering dataframe...
[483]Filtered dataframe size: 696
[483]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.92673, -43.17199), Count: 169
Cluster 12: Medoid (-22.9717, -43.18969), Count: 141
Cluster 13: Medoid (-22.88415, -43.23653), Count: 101
--------------------------------------------------
[497]Querying database...
[497]Raw dataframe size: 57718
[497]Filtering dataframe...
[497]Filtered dataframe size: 196
[497]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.86309, -43.25285), Count: 130
Cluster 1: Medoid (-22.83677, -43.28173), Count: 33
Cluster 3: Medoid (-22.88457, -43.22693), Count: 23
--------------------------------------------------
[550]Querying database...
[550]Raw dataframe size: 77072
[550]Filtering dataframe...
[550]Filtered dataframe size: 527
[550]Clustering points...
Top 3 most selected areas:
Cluster 10: Medoid (-22.95267, -43.35209), Count: 176
Cluster 9: Medoid (-22.98689, -43.30668), Count: 158
Cluster 7: Medoid (-22.99538, -43.25815), Count: 55
--------------------------------------------------
[553]Querying database...
[553]Raw dataframe size: 72304
[553]Filtering dataframe...
[553]Filtered dataframe size: 61
[553]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.90783, -43.17254), Count: 30
Cluster 0: Medoid (-22.95847, -43.17732), Count: 20
Cluster 2: Medoid (-22.95379, -43.18137), Count: 11
--------------------------------------------------
[554]Querying database...
[554]Raw dataframe size: 77500
[554]Filtering dataframe...
[554]Filtered dataframe size: 193
[554]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.97387, -43.41129), Count: 99
Cluster 2: Medoid (-22.97405, -43.41158), Count: 22
Cluster 0: Medoid (-22.96408, -43.3943), Count: 11
--------------------------------------------------
[557]Querying database...
[557]Raw dataframe size: 96909
[557]Filtering dataframe...
[557]Filtered dataframe size: 406
[557]Clustering points...
Top 3 most selected areas:
Cluster 13: Medoid (-22.99637, -43.26061), Count: 107
Cluster 0: Medoid (-22.98748, -43.22401), Count: 55
Cluster 8: Medoid (-22.97461, -43.32744), Count: 44
--------------------------------------------------
[565]Querying database...
[565]Raw dataframe size: 79181
[565]Filtering dataframe...
[565]Filtered dataframe size: 321
[565]Clustering points...
Top 3 most selected areas:
Cluster 5: Medoid (-22.95263, -43.35395), Count: 99
Cluster 0: Medoid (-22.92868, -43.35613), Count: 97
Cluster 3: Medoid (-22.95743, -43.37993), Count: 66
--------------------------------------------------
[606]Querying database...
[606]Raw dataframe size: 67251
[606]Filtering dataframe...
[606]Filtered dataframe size: 97
[606]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.91128, -43.27557), Count: 33
Cluster 1: Medoid (-22.90434, -43.28586), Count: 13
Cluster 2: Medoid (-22.8981, -43.28264), Count: 12
--------------------------------------------------
[624]Querying database...
[624]Raw dataframe size: 79056
[624]Filtering dataframe...
[624]Filtered dataframe size: 68
[624]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.85649, -43.38487), Count: 20
Cluster 0: Medoid (-22.89576, -43.24008), Count: 10
Cluster 1: Medoid (-22.89898, -43.23672), Count: 10
--------------------------------------------------
[629]Querying database...
[629]Raw dataframe size: 96392
[629]Filtering dataframe...
[629]Filtered dataframe size: 354
[629]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.75362, -43.29507), Count: 150
Cluster 6: Medoid (-22.91757, -43.23483), Count: 73
--------------------------------------------------
[634]Querying database...
[634]Raw dataframe size: 48152
[634]Filtering dataframe...
[634]Filtered dataframe size: 56
[634]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.81696, -43.18566), Count: 28
--------------------------------------------------
[638]Querying database...
[638]Raw dataframe size: 66610
[638]Filtering dataframe...
[638]Filtered dataframe size: 439
[638]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.87193, -43.34523), Count: 302
Cluster 4: Medoid (-22.8618, -43.36834), Count: 24
Cluster 6: Medoid (-22.852, -43.37202), Count: 22
--------------------------------------------------
[639]Querying database...
[639]Raw dataframe size: 94746
[639]Filtering dataframe...
[639]Filtered dataframe size: 675
[639]Clustering points...
Top 3 most selected areas:
Cluster 8: Medoid (-22.8086, -43.32145), Count: 203
Cluster 2: Medoid (-22.8778, -43.32684), Count: 100
Cluster 12: Medoid (-22.87216, -43.33612), Count: 91
--------------------------------------------------
[665]Querying database...
[665]Raw dataframe size: 87837
[665]Filtering dataframe...
[665]Filtered dataframe size: 417
[665]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.81715, -43.30599), Count: 171
Cluster 10: Medoid (-22.79913, -43.30769), Count: 70
Cluster 4: Medoid (-22.82601, -43.34885), Count: 40
--------------------------------------------------
[756]Querying database...
[756]Raw dataframe size: 67927
[756]Filtering dataframe...
[756]Filtered dataframe size: 734
[756]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.91416, -43.68103), Count: 279
Cluster 8: Medoid (-22.90439, -43.61584), Count: 176
Cluster 4: Medoid (-22.84027, -43.33859), Count: 147
--------------------------------------------------
[759]Querying database...
[759]Raw dataframe size: 29193
[759]Filtering dataframe...
[759]Filtered dataframe size: 161
[759]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.85524, -43.48249), Count: 90
Cluster 2: Medoid (-22.88753, -43.65652), Count: 31
--------------------------------------------------
[774]Querying database...
[774]Raw dataframe size: 51055
[774]Filtering dataframe...
[774]Filtered dataframe size: 183
[774]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.77659, -43.28654), Count: 60
Cluster 5: Medoid (-22.75386, -43.29518), Count: 50
Cluster 0: Medoid (-22.80963, -43.30886), Count: 20
--------------------------------------------------
[779]Querying database...
[779]Raw dataframe size: 30781
[779]Filtering dataframe...
[779]Filtered dataframe size: 2372
[779]Clustering points...
Top 3 most selected areas:
Cluster 1: Medoid (-22.87688, -43.33794), Count: 2301
Cluster 0: Medoid (-22.87786, -43.33722), Count: 40
--------------------------------------------------
[803]Querying database...
[803]Raw dataframe size: 67386
[803]Filtering dataframe...
[803]Filtered dataframe size: 33
[803]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.88503, -43.39273), Count: 11
Cluster 1: Medoid (-22.87851, -43.42345), Count: 11
Cluster 2: Medoid (-22.89919, -43.39177), Count: 11
--------------------------------------------------
[838]Querying database...
[838]Raw dataframe size: 65741
[838]Filtering dataframe...
[838]Filtered dataframe size: 421
[838]Clustering points...
Top 3 most selected areas:
Cluster 10: Medoid (-22.90776, -43.56361), Count: 109
Cluster 2: Medoid (-22.90504, -43.56406), Count: 73
Cluster 1: Medoid (-22.9043, -43.564), Count: 50
--------------------------------------------------
[852]Querying database...
[852]Raw dataframe size: 22016
[852]Filtering dataframe...
[852]Filtered dataframe size: 303
[852]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.97544, -43.5896), Count: 130
Cluster 1: Medoid (-22.96942, -43.58865), Count: 111
Cluster 5: Medoid (-22.90754, -43.56437), Count: 20
--------------------------------------------------
[864]Querying database...
[864]Raw dataframe size: 76843
[864]Filtering dataframe...
[864]Filtered dataframe size: 10
[864]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.87722, -43.47306), Count: 10
--------------------------------------------------
[867]Querying database...
[867]Raw dataframe size: 48600
[867]Filtering dataframe...
[867]Filtered dataframe size: 497
[867]Clustering points...
Top 3 most selected areas:
Cluster 2: Medoid (-22.97533, -43.58958), Count: 180
Cluster 7: Medoid (-22.97641, -43.58983), Count: 102
Cluster 3: Medoid (-22.97576, -43.58964), Count: 90
--------------------------------------------------
[878]Querying database...
[878]Raw dataframe size: 91550
[878]Filtering dataframe...
[878]Filtered dataframe size: 1710
[878]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-23.01246, -43.31862), Count: 1401
Cluster 18: Medoid (-22.95313, -43.33818), Count: 44
Cluster 8: Medoid (-22.88146, -43.32531), Count: 33
--------------------------------------------------
[905]Querying database...
[905]Raw dataframe size: 44887
[905]Filtering dataframe...
[905]Filtered dataframe size: 347
[905]Clustering points...
Top 3 most selected areas:
Cluster 3: Medoid (-22.83066, -43.27803), Count: 166
Cluster 4: Medoid (-22.83152, -43.29134), Count: 120
Cluster 2: Medoid (-22.84231, -43.26942), Count: 20
--------------------------------------------------
[917]Querying database...
[917]Raw dataframe size: 60328
[917]Filtering dataframe...
[917]Filtered dataframe size: 30
[917]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.88653, -43.28006), Count: 10
Cluster 1: Medoid (-22.88654, -43.30307), Count: 10
Cluster 2: Medoid (-22.88768, -43.28417), Count: 10
--------------------------------------------------
[918]Querying database...
[918]Raw dataframe size: 67511
[918]Filtering dataframe...
[918]Filtered dataframe size: 139
[918]Clustering points...
Top 3 most selected areas:
Cluster 0: Medoid (-22.8698, -43.25853), Count: 51
Cluster 4: Medoid (-22.89677, -43.48756), Count: 20
Cluster 1: Medoid (-22.87162, -43.2584), Count: 18
--------------------------------------------------

In [ ]:
print(bus_stops_per_line)

{'774': [(1, (-22.77659, -43.28654), 60), (2, (-22.75386, -43.29518), 50), (3, (-22.80963, -43.30886), 20), (4, (-22.82537, -43.3127), 20)]}

In [21]:
df_results_dict = {'linha':[], 'cluster_order':[], 'latitude':[], 'longitude':[], 'cluster_count':[]}
for linha, info_list in bus_stops_per_line.items():
    for info in info_list:
        df_results_dict['linha'].append(linha)
        df_results_dict['cluster_order'].append(info[0])
        df_results_dict['latitude'].append(info[1][0])
        df_results_dict['longitude'].append(info[1][1])
        df_results_dict['cluster_count'].append(info[2])
df_results = pd.DataFrame.from_dict(df_results_dict)
df_results.to_csv('calculated_bus_stops.csv', index=False)
display(df_results)

    linha  cluster_order  latitude  longitude  cluster_count
0     100              1 -22.98314  -43.19232             34
1     100              2 -22.94970  -43.17788             21
2     100              3 -22.96391  -43.17844             20
3     108              1 -22.98162  -43.21336           1000
4     108              2 -22.91424  -43.19639             43
..    ...            ...       ...        ...            ...
130   917              2 -22.88654  -43.30307             10
131   917              3 -22.88768  -43.28417             10
132   918              1 -22.86980  -43.25853             51
133   918              2 -22.89677  -43.48756             20
134   918              3 -22.87162  -43.25840             18

[135 rows x 5 columns]

In [ ]:
def create_single_bus_stops_map(df: pd.DataFrame, garage_points, line_choosen):
    
    map_center = [df['latitude'].mean(), df['longitude'].mean()]
    folium_map = folium.Map(location=map_center, zoom_start=12)

    for item in garage_points:
            folium.Circle(
            location=(item[0], item[1]),
            radius=100,
            color='red',
            fill=True,
            fill_color='red',
            fill_opacity=0.2
        ).add_to(folium_map)

    # adicionar marcadores de circulo no mapa
    for _, row in df.iterrows():
        popup_text = f"linha: {row['linha']}<br>cluster_order: {row['cluster_order']}<br>cluster_count: {row['cluster_count']}<br>Location:({row['latitude']}, {row['longitude']})"
        folium.Marker(
        location=(row['latitude'], row['longitude']),
        popup=folium.Popup(popup_text, max_width=300),
        icon=folium.Icon(color='blue')
        ).add_to(folium_map)
        # adicionar circulo representando o raio
        folium.Circle(
            location=(row['latitude'], row['longitude']),
            radius=STOP_RADIUS,
            color='blue',
            fill=True,
            fill_color='blue',
            fill_opacity=0.2
        ).add_to(folium_map)
        
        

        # Salva para arquivo html
        folium_map.save(f"maps/bus_stops/bus_stops_map_{line_choosen}.html")

In [32]:
for linha in USED_BUS_LINES:
    df_sliced = df_results[df_results['linha'] == linha]
    
    # Filtra apenas os cluster_order menores ou iguais a 2
    df_sliced = df_sliced[df_sliced['cluster_order'] <= 2]
    
    if len(df_sliced.index) > 0:
        create_single_bus_stops_map(df_sliced, garage_points, linha)

In [31]:
print(df_sliced)

    linha  cluster_order  latitude  longitude  cluster_count
132   918              1 -22.86980  -43.25853             51
133   918              2 -22.89677  -43.48756             20
134   918              3 -22.87162  -43.25840             18

In [ ]:
TABLE_COLUMNS = ['linha', 'cluster_order', 'latitude', 'longitude', 'cluster_count']
conn = conn = psycopg2.connect(host='localhost', database='postgres', user='postgres', password='skyping1')
def copy_data_from_csv(csv_file_path, conn):
    try:
        cursor = conn.cursor()
        with open(csv_file_path, 'r') as f:
            col_order = ', '.join(map(str, TABLE_COLUMNS))
            cursor.copy_expert(f"COPY stops ({col_order}) FROM STDIN DELIMITER ',' CSV HEADER", f)
        conn.commit()
        print(f"Data loaded from {csv_file_path} successfully")
    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()

copy_data_from_csv('estimated_bus_stops.csv', conn)